.register-value {
    background-color: #121212;
    border-radius: 0.2em;
    padding: 0.6em 0.75em;
    color: #c2c2c2;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    max-width: 100px;
    font-size: 1.3em;
    letter-spacing: 0.1em;
    text-align: center;
}

.register {
    font-weight: 800;
    color: #232323;
    font-size: 0.9em;
}

.register > div {
    margin-bottom: 0.3em;
}